parameters:
  database_driver:   {{ project_parameters.database_driver }}
  database_host:     {{ project_parameters.database_host }}
  database_port:     {{ project_parameters.database_port }}
  database_name:     {{ project_parameters.database_name }}
  database_user:     {{ project_parameters.database_user }}
  database_password: {{ project_parameters.database_password }}
  mailer_transport:  {{ project_parameters.mailer_transport }}
  mailer_host:       {{ project_parameters.mailer_host }}
  mailer_user:       {{ project_parameters.mailer_user }}
  mailer_password:   {{ project_parameters.mailer_password }}
  locale:            {{ project_parameters.locale }}
  secret:            {{ project_parameters.secret }}